<?xml version="1.0"?>
<config>
    <modules>
        <Dabio_SingleShipping>
            <version>1.0.0</version>
        </Dabio_SingleShipping>
    </modules>
    <global>
        <blocks>
            <dabio_singleshipping>
                <class>Dabio_SingleShipping_Block</class>
            </dabio_singleshipping>
        </blocks>
        <helpers>
            <dabio_singleshipping>
                <class>Dabio_SingleShipping_Helper</class>
            </dabio_singleshipping>
        </helpers>
        <models>
            <dabio_singleshipping>
                <class>Dabio_SingleShipping_Model</class>
            </dabio_singleshipping>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <dabio_singleshipping_model_observer>
                        <type>singleton</type>
                        <class>Dabio_SingleShipping_Model_Observer</class>
                        <method>applySingleShippingMethod</method>
                    </dabio_singleshipping_model_observer>
                </observers>
            </checkout_cart_save_before>
        </events>
        <layout>
            <updates>
                <dabio_singleshipping>
                    <file>dabio_singleshipping.xml</file>
                </dabio_singleshipping>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Dabio_SingleShipping>
                    <files>
                        <default>Dabio_SingleShipping.csv</default>
                    </files>
                </Dabio_SingleShipping>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <shipping>
            <singleshipping>
                <hide_shipping>0</hide_shipping>
            </singleshipping>
        </shipping>
    </default>
</config>
